In [1]:
import requests
import pandas as pd

In [2]:
# get dataframe
filename = '2yzn-sicd'
df = pd.read_csv(filename + '.csv', nrows = 5) # đọc 10 dòng thôi, đọc 1000 dòng hơi lâu :)
#df = pd.read_json('2yzn-sicd.json', nrows = 10)

In [3]:
df_BoroCT2010 = pd.DataFrame(columns=['pickup_BoroCT2010', 'dropoff_BoroCT2010'])

In [4]:
for i in range(len(df)):
    #
    urlPickup = "https://geo.fcc.gov/api/census/area?lat={}&lon={}&format=json".format(df.pickup_latitude[i], df.pickup_longitude[i])
    urlDropoff = "https://geo.fcc.gov/api/census/area?lat={}&lon={}&format=json".format(df.dropoff_latitude[i], df.dropoff_longitude[i])

    # use API to get CencusBlock from coordinate
    pickup_result = requests.get(urlPickup).json()
    dropoff_result = requests.get(urlDropoff).json()
    
    # Get FIPS
    if len(pickup_result['results']) == 0:
        pickup_BoroCT2010 = '0'
    else:
        FIPS_pickup = pickup_result['results'][0]['block_fips']
          
        if FIPS_pickup[:5] == '36061':
            pickup_BoroCT2010 = '1' + FIPS_pickup[5:11]
        elif FIPS_pickup[:5] == '36005':
            pickup_BoroCT2010 = '2' + FIPS_pickup[5:11]
        elif FIPS_pickup[:5] == '36047':
            pickup_BoroCT2010 = '3' + FIPS_pickup[5:11]
        elif FIPS_pickup[:5] == '36081':
            pickup_BoroCT2010 = '4' + FIPS_pickup[5:11]
        elif FIPS_pickup[:5] == '36085':
            pickup_BoroCT2010 = '5' + FIPS_pickup[5:11]
    
    
    if len(dropoff_result['results']) == 0:
        dropoff_BoroCT2010 = '0'
    else:
        FIPS_dropoff = dropoff_result['results'][0]['block_fips']  
        if FIPS_dropoff[:5] == '36061':
            dropoff_BoroCT2010 = '1' + FIPS_dropoff[5:11]
        elif FIPS_dropoff[:5] == '36005':
             dropoff_BoroCT2010 = '2' + FIPS_dropoff[5:11]
        elif FIPS_dropoff[:5] == '36047':
            dropoff_BoroCT2010 = '3' + FIPS_dropoff[5:11]
        elif FIPS_dropoff[:5] == '36081':
            dropoff_BoroCT2010 = '4' + FIPS_dropoff[5:11]
        elif FIPS_dropoff[:5] == '36085':
            dropoff_BoroCT2010 = '5' + FIPS_dropoff[5:11]    
    
    # Add value to df_BoroCT2010
    df_BoroCT2010 = df_BoroCT2010.append({'pickup_BoroCT2010': pickup_BoroCT2010, 'dropoff_BoroCT2010': dropoff_BoroCT2010}, ignore_index=True)

[{'block_fips': '360610160011000', 'bbox': [-73.954656, 40.785874, -73.952551, 40.787227], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 881, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}]
[{'block_fips': '360610146025000', 'bbox': [-73.951248, 40.777553, -73.948422, 40.779179], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 1008, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}, {'block_fips': '360610146026000', 'bbox': [-73.951743, 40.776876, -73.94888, 40.778551], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 1682, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}]
[{'block_fips': '360610080001002', 'bbox': [-73.977435, 40.748863, -73.975383, 40.750157], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 236, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}, {'block_fips': '360610080001003', 'bbox': [-73.977888, 40.748245, -73.975835, 40.74954], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 706, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}]
[{'block_fips': '360610101001002', 'bbox': [-73.993948, 40.750319, -73.990623, 40.75219], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 25, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}, {'block_fips': '360610101001003', 'bbox': [-73.994329, 40.749706, -73.99111, 40.751522], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 67, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}]
[{'block_fips': '360610153007001', 'bbox': [-73.981573, 40.772417, -73.978281, 40.774227], 'county_fips': '36061', 'county_name': 'New York', 'state_fips': '36', 'state_code': 'NY', 'state_name': 'New York', 'block_pop_2015': 390, 'amt': 'AMT001', 'bea': 'BEA010', 'bta': 'BTA321', 'cma': 'CMA001', 'eag': 'EAG001', 'ivm': 'IVM001', 'mea': 'MEA002', 'mta': 'MTA001', 'pea': 'PEA001', 'rea': 'REA001', 'rpc': 'RPC001', 'vpc': 'VPC001'}]

In [5]:
df_BoroCT2010

  pickup_BoroCT2010 dropoff_BoroCT2010
0           1016001            1009800
1           1014602            1014801
2           1008000            2002300
3           1010100            1009000
4           1015300            1012800
5           1012100            1007500
6           1017900            1019100
7           1003300            1003700
8           1011900            1007800
9           1016500            1013800

In [6]:
df[['pickup_BoroCT2010','dropoff_BoroCT2010']] = df_BoroCT2010[['pickup_BoroCT2010','dropoff_BoroCT2010']]

  pickup_BoroCT2010 dropoff_BoroCT2010
0           1016001            1009800
1           1014602            1014801
2           1008000            2002300
3           1010100            1009000
4           1015300            1012800
5           1012100            1007500
6           1017900            1019100
7           1003300            1003700
8           1011900            1007800
9           1016500            1013800

In [7]:
df.to_csv('abc.csv')

In [ ]:
df